* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;
}


.images {
    width:100%;
    height: auto; 
    
}


.bg-cover {
    width: 100%;
    height: 100%;
    position: fixed;
}

.bg-letters{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
    
}


.coming-soon-sign {
    position: absolute;
    bottom: -10%;
    
}
